cat << EOF > data_bags/users/$1.json
{
  "id": "$1",
  "uid": "$3",
  "groups": [
    "users"
  ],
  "shell": "/bin/bash",
  "home_dir": "/home/$1",
  "comment": "$2",
  "public_ssh_keys": "$4",
  "action": "create"
}
EOF
